<div class="col-7 m-auto">
<div class="card text-center text-white bg-dark mb-3 border-danger" style="width: 18rem;">
  <%= image_tag (@tweet.user.avatar), :class => "avatar-in-tweet  w-100 rounded"%>
  <div class="card-body">
    <h5 class="card-title text-white bg-dark mb-3"><strong><%= @tweet.user.username %> Dice:</strong></h5>
    <p class="card-text"><%= @tweet.content.html_safe %></p>
    <p class="card-text"><h3>Likes (<%= @tweet.likes.count %>)</h3></p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link"><%= link_to 'Back', root_path, :class => "btn btn-danger" %></a>
  </div> 
</div>
</div>